<!DOCTYPE html>
<html ng-app="appdeimi">
<head>
   <script src="js/angular.min.js"></script>
   <script src="js/operaciones.js"></script>

   <link rel="stylesheet" type="text/css" href="css/estilos.css">
    <title>Document</title>
</head>
<body>

    <div ng-controller="controlador">

        <input type="text" id="texto-cargar" ng-model="texto" ng-change="cargar_datos()"><hr>
        <!-- <input type="text" ng-model="inicio">
        <input type="text" ng-model="final"> -->

        <!-- <a href="#" ng-click="cargar_datos()">Click</a> -->

        <div ng-repeat="datos in informacion">
            {{datos.nombre}}
            
        </div>
        

    </div>
    
</body>
</html>